---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a student at St. Cloud State University, pursuing a degree in Software
    Engineering.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="flow-root">
    <ul class="-mb-8">
      <TimeLineElement
        title="St. Cloud State University"
        company="Bachelor's Degree, Software Engineering"
        start="2022"
        end="2025"
        image="/logos/scsu-logo.png"
      />

      <TimeLineElement
        title="Anoka Technical College"
        company="Software Development"
        start="2021"
        end="2022"
        image="/logos/atc-logo.jpg"
        _stopline={true}
      />
    </ul>
  </div>

  <div class="mb-5 mt-12">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="flow-root">
    <ul class="-mb-8">
      <TimeLineElement
        title="Software Development Intern"
        company="Blue Cross and Blue Shield of Minnesota"
        start="June 2023"
        end="August 2023"
        image="/logos/bcbsmn-logo.png"
      />

      <TimeLineElement
        title="Programmer Intern"
        company="Egan Company"
        start="May 2022"
        end="March 2023"
        desc="ASP.NET MVC development on applications to support various departments such as Accounting, IT, Safety, and field personnel"
        image="/logos/eganco-logo.jpg"
        _stopline={true}
      />
    </ul>
  </div>

  <div class="mb-5 mt-12">
    <div class="text-3xl w-full font-bold">Tools I've Used</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Command line interface</li>
    <li>Neovim once</li>
  </ul>
</BaseLayout>
