---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a student at St. Cloud State University, pursuing a degree in Software Engineering.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="St. Cloud State University"
      date="2022-2025"
      subtitle="Bachelor's Degree, Software Engineering"
    />
    <TimeLineElement
      title="Anoka Technical College"
      date="2021-2022"
      subtitle="Software Development"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Blue Cross and Blue Shield of Minnesota"
      date="Incoming"
      subtitle="Software Development Intern"
    />
    <TimeLineElement
      title="Egan Company"
      date="May 2022-Feb 2023"
      subtitle="Programmer Intern"
      desc="Full-stack app development, working on applications to support various departments such as Accounting, IT, Safety, and field personnel"
    />
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tools I've Used</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>Python</li>
  </ul>
</BaseLayout>
