---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Software</div>
  </div>

  <HorizontalCard
    title="Elvec"
    img="/Screenshot 2023-04-29 213232.jpg"
    desc="A platform that allows users to schedule electric charging for their vehicles at off-peak hours for a discounted rate to reduce strain on the power grid."
    desc2="ðŸ† Project won 1st place @ St. Cloud State University Hackathon and we got $1000!"
    url="https://github.com/unapt/Elvec"
    badge="NEW"
  />

  <HorizontalCard
    title="JerryAI"
    img="/Screenshot 2023-02-24 001253.jpg"
    desc="Web app that uses Natural Language Processing to create legislative bills by analyzing and summarizing a proposed idea."
    desc2="ðŸ† Project won 2nd place @ University of Minnesota Hackathon and we got free LG Ultrawide Monitors!"
    url="https://github.com/unapt/JerryAI"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="LetsHike.tech"
    img="/Screenshot 2023-02-24 001504.jpg"
    desc="Web app that uses the National Park Service API to bring awareness to the sustainability of national parks."
    desc2="ðŸ˜€ First hackathon! Built in 24 hours for University of Iowa Hackathon."
    url="https://github.com/Jorgemn13/HackUIowaJJE"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Tools</div>
  </div>

  <HorizontalCard
    title="Vanadium"
    img="/panda1.png"
    desc="Template built for hackathons. Utilizes NextJS, Typescript, and ChakraUI for the frontend. Python with FastAPI for the backend."
    url="https://github.com/unapt/Vanadium"
  />
</BaseLayout>
